.product-container {
  margin-top: 24px;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;

  text-align: center;
  transition: transform 0.1s ease;
}

.product-container:hover {
  transform: translateY(-5px);
}

.product-details {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.product-container button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  justify-self: flex-end;
}

.product-container button:hover {
  background-color: #083d88;
}

.product-container h3 {
  color: #333;
  font-size: 18px;
}

.product-container p {
  color: #666;
  margin: 5px 0;
}

.product-image {
  list-style-type: none;
  width: 290px;
  height: 372px;
  padding: 10px;
  margin: 6px 6px;
  border: 1px solid #6b8a95;
}

.quantity-select {
  margin: 25px;
  padding: 5px 25px;
}
